<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tests.Properties.Settings.BookstoreDBConnectionString"
            connectionString="Data Source=&quot;83.29.107.71\SQLEXPRESS, 1433&quot;;Initial Catalog=BookstoreDB;User ID=admin;Password=adminpassword1"
            providerName="System.Data.SqlClient" />
        <add name="Tests.Properties.Settings.BookstoreDBConnectionString1"
            connectionString="Data Source=2a01:116f:53f:9b00::f551\SQLEXPRESS;Initial Catalog=BookstoreDB;User ID=admin"
            providerName="System.Data.SqlClient" />
        <add name="Tests.Properties.Settings.BookstoreDB_TESTConnectionString"
            connectionString="Data Source=83.29.107.71\\SQLEXPRESS,1433;Initial Catalog=BookstoreDB_TEST;User ID=admin;Password=adminpassword1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>