<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tests.Properties.Settings.BookstoreDBConnectionString"
            connectionString="Data Source=&quot;83.29.107.71\SQLEXPRESS, 1433&quot;;Initial Catalog=BookstoreDB;User ID=admin;Password=adminpassword1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>